<div>
  <div class="primary-container">
    <div class="home-container">
      <h1 class="home-title">BeAware of your area.</h1>
      <div class="">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
        <span ng-class="{'fa fa-map-marker': !state.fetchingPosition, 'fa fa-spinner fa-spin': state.fetchingPosition}" ng-if="state.q.geolocationEnabled()" ng-click="setCurrentPosition()"></span>
      </div>
    </div>
  </div>

  <div class="report-button-wrapper">
    <button class="btn report-button" ng-click="report()">Report a Crime</button>
  </div>
</div>
