<% layout('layout') -%>

<div ng-controller="HomeController">
  <style>
  #map {
    height: 200px;
  }
  </style>

  <div class="primary-container">
    <div class="home-container">
      <h1 class="home-title">BeAware of your area.</h1>
      <!-- <p class="lead">of your area.</p> -->
      <div class="">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box" />
        <span class="fa fa-map-marker" ng-if="state.q.geolocationEnabled()" ng-click="setCurrentPosition()"></span>
      </div>
    </div>
  </div>

  <script>
    
  </script>
</div>
