<div class="crime-list-item" ng-click="goToHome()">
  <div class="primary-container" ng-click="state.expand = !state.expand;">
    <span class="crime-icon"><i ng-class="state.crimeIcon"></i></span>
    {{ _.capitalize(crimeListItem.crimeType) }} reported at {{crimeListItem.address.split(',')[0]}}.
    <span class="icon">
      <i ng-class="{'fa fa-angle-up': state.expand, 'fa fa-angle-down': !state.expand}"></i>
    </span>
  </div>
  <div class="expansion-container-wrapper">
    <div class="expansion-container animate-if" ng-if="state.expand">
      <div class="data-point">
        <div class="label">FULL ADDRESS:</div>
        <div class="content">{{state.geocode.formatted_address}}</div>
      </div>
      <div class="data-point">
        <div class="label">OCCURRED AT:</div>
        <div class="content">{{crimeListItem._dateOfCrime.format('DD/MM/YY hh:mma')}}</div>
      </div>
      <div class="data-point">
        <div class="label">COORDINATES:</div>
        <div class="content">{{crimeListItem.latitude}}, {{crimeListItem.longitude}}</div>
      </div>
      <div comment-container="crimeListItem"></div>
    </div>
  </div>
</div>
